In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import datasets, svm, cross_validation, tree, preprocessing
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeRegressor
%matplotlib inline

/home/zectrosan/.local/lib/python3.5/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
train = pd.read_csv("train.csv")
train.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,23,1.23247,0.0,8.14,0,0.538,6.142,91.7,3.9769,4,307,21.0,396.90,18.72,15.2
1,452,5.44114,0.0,18.10,0,0.713,6.655,98.2,2.3552,24,666,20.2,355.29,17.73,15.2
2,11,0.22489,12.5,7.87,0,0.524,6.377,94.3,6.3467,5,311,15.2,392.52,20.45,15.0
3,137,0.32264,0.0,21.89,0,0.624,5.942,93.5,1.9669,4,437,21.2,378.25,16.90,17.4
4,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6

In [3]:
test = pd.read_csv("test.csv")
test.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,132,1.19294,0.0,21.89,0,0.624,6.326,97.7,2.2710,4,437,21.2,396.90,12.26
1,374,11.10810,0.0,18.10,0,0.668,4.906,100.0,1.1742,24,666,20.2,396.90,34.77
2,343,0.02498,0.0,1.89,0,0.518,6.540,59.7,6.2669,1,422,15.9,389.96,8.65
3,128,0.25915,0.0,21.89,0,0.624,5.693,96.0,1.7883,4,437,21.2,392.11,17.19
4,108,0.13117,0.0,8.56,0,0.520,6.127,85.2,2.1224,5,384,20.9,387.69,14.09

In [4]:
train_new = train.drop(['chas','nox'], axis=1)
train_new.count()

ID         223
crim       223
zn         223
indus      223
rm         223
age        223
dis        223
rad        223
tax        223
ptratio    223
black      223
lstat      223
medv       223
dtype: int64

In [10]:
test_new = test.drop(['chas','nox'], axis=1)
test_new.count()

ID         110
crim       110
zn         110
indus      110
rm         110
age        110
dis        110
rad        110
tax        110
ptratio    110
black      110
lstat      110
dtype: int64

In [5]:
X = train_new.drop('medv', axis = 1)
Y = train_new['medv']

In [6]:
X_train, X_test, Y_train, Y_test = sklearn.cross_validation.train_test_split(X, Y, test_size = 0.2, random_state = 10)

In [25]:
lm = LinearRegression()
lm.fit(X_train, Y_train)
pred = lm.predict(X_test)
lm.score(X_test, pred)

1.0

In [20]:
mean_squared_error(Y_test,pred)

16.209781938677303

In [21]:
Y_pred = lm.predict(test_new.values)

In [26]:
Y_pred

array([ 21.33633709,   5.06300441,  22.83713736,  16.20896561,
        20.98936568,  23.13546775,  28.40244667,  24.48397842,
        21.41061739,  12.19879975,  15.4210011 ,  41.46795059,
        19.46615863,   9.50799372,  33.02553606,  15.5550134 ,
        25.65699785,  38.99440236,  22.29070317,  26.74276418,
        21.36131409,  26.44573691,  31.58260685,  14.93149346,
        22.15279456,  28.17140897,   7.49811257,  21.61629783,
        27.54490792,  12.19317465,  24.25776144,  20.84250242,
        20.55841817,  20.39001311,  14.2260549 ,  20.44034046,
        24.67707206,  27.22517385,  22.54414001,  22.56363024,
        20.86032408,  32.08799847,  26.69373916,  16.30526261,
        29.85421529,  27.06174531,  20.43360647,  16.78440016,
        41.12287447,  31.32372135,  28.44449784,  25.78959681,
        17.14392786,  31.36531893,  20.28885772,  17.88571034,
        20.72498095,  23.39509817,  35.61763568,  20.99147003,
        20.20749139,  23.14671942,  16.40882929,  27.87010763,
        32.26262363,  24.01755623,  21.99412217,  12.99800681,
        39.09241094,  22.71629888,  20.36973484,  32.81316162,
        18.1256873 ,  24.70259026,  23.27197536,  31.12453074,
        27.91325154,  32.16068585,  13.70980546,  21.62256585,
        25.77741119,  23.63842003,  14.30173607,  24.28074204,
        26.29025856,  14.22980759,  26.80152468,  34.49760073,
        25.14590004,  32.58150191,  21.12236102,  27.15929574,
        22.41004784,  10.74122337,  24.26171616,  35.55003171,
        24.80372597,  18.34523244,  24.02599438,  25.70344591,
        17.33097659,  23.16228295,  30.07405645,  29.20551064,
        26.57976548,  14.87387285,  19.59156992,  21.78007798,
        26.42968408,  13.71261003])

In [27]:
df_output_lm = pd.DataFrame({
    'medv': Y_pred
})

In [28]:
df_output_lm.to_csv("/home/zectrosan/Documents/python/data/titanic/gdg/gdg-prelims-2017/housingdata/output.csv", sep=',')